/* Black: #090E2B */

body {
    text-align: center;
    /* background-color: #FFFCF8; */
    background-color: hsl(208, 27%, 40%);
    overscroll-behavior: none;
    /* font-family: 'Sarabun', sans-serif; */
    font-family: 'Trirong', serif;
}